.rec1{position: static;
width: 1440px;
height: 1024px;

background: #4C0027;}

a{position: static;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
  line-height: 28px;
color: #FFFFFF;}

#HomeLink{width: 65px;
height: 28px;}
#TipsLink{width: 47px;
height: 28px;}
#SymptomsLink{width: 116px;
height: 28px;}
#FAQsLink{width: 56px;
height: 28px;}
#YoutubeLink{width: 95px;
height: 28px;}

.cap1{position: static;
width: 1195px;
height: 118px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
  line-height: 59px;}

.cap2{position: static;
width: 943px;
height: 234px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 117px;

color: #FFFFFF;}

.Tips{background: #FFFFFF;
top: 1024px;}


#TipsHeading{position: static;
width: 113px;
height: 66px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
/* identical to box height */
text-align: center;

color: #4C0027;
}

.rec2{position: static;
width: 1293px;
height: 369px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#WearMask{position: absolute;
width: 317px;
height: 66px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 66px;
/* identical to box height */

color: #000000;}

.rec3{position: absolute;
width: 1293px;
height: 369px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#WashHands{position: absolute;
width: 346px;
height: 66px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 66px;
/* identical to box height */

color: #000000;
}
#img1{position: absolute;
left: 24.85%;
right: 26.5%;
top: 49.36%;
bottom: 10.7%;
height: 278px;
width: 338px;}

#img2{position: absolute;
left: 94.26%;
top: 46.87%;
bottom: 3.47%;
width: 278px;
height: 338px}

.rec4{position: absolute;
width: 1440px;
height: 721px;

background: #E8AFCE;}

#Rec4Heading{position: absolute;
width: 300px;
height: 66px;
left: 570px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
/* identical to box height */


color: #4C0027;}

.rec5{position: static;
width: 951px;
height: 454px;

background: #FFFFFF;}

th,td{border: 8px solid #750550;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
padding:8px}

#tablecol1, #tablecol2{width: 25%;}

#tablecol3{width: 40%}

#FAQ'shead{position: static;
width: 146px;
height: 66px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;

text-align: center;

color: #4C0027;
}

.rec6{position: static;
width: 1293px;
height: 754px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

.rec6_1{position: static;
width: 1161px;
height: 198px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#rec6_1head{position: static;
width: 203px;
height: 28px;
  
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;}

#rec6_1body{position: static;
width: 1129px;
height: 105px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #000000;}

.rec6_2{position: static;
width: 1161px;
height: 198px;

#rec6_2head{position: static;
width: 688px;
height: 28px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;}
  
background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#rec6_2body{
position: static;
width: 1129px;
height: 63px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #000000;}

.rec6_3{position: static;
width: 1161px;
height: 198px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#rec6_3head{position: static;
width: 745px;
height: 28px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;}

#rec6_3body{position: static;
width: 1129px;
height: 42px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #000000;
}

.Youtube{top:3849;
height:1366.93}

#Youtubehead{position: static;
width: 240px;
height: 66px;


font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
text-align: center;
color: #4C0027;
}

#video{position: static;
width: 240px;
height: 66px;
  color: #4C0027;}
}
