.rec1{width: 1440px;
height: 1024px;

background: #4C0027;}

a{font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
  line-height: 28px;
color: #FFFFFF;}

#HomeLink{width: 65px;
height: 28px;}
#TipsLink{width: 47px;
height: 28px;}
#SymptomsLink{width: 116px;
height: 28px;}
#FAQsLink{width: 56px;
height: 28px;}
#YoutubeLink{width: 95px;
height: 28px;}

.cap1{width: 1195px;
height: 118px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 59px;

position: absolute;
top: 248px;
left: 85px;}

.cap2{width: 943px;
height: 234px;
position: absolute;
top:395px;
left:85px

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 117px;

color: #FFFFFF;}

.Tips{background: #FFFFFF;
height: 1097px;}


#TipsHeading{position: relative;
width: 113px;
height: 66px;
top: 29px;
left: 664px;}

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
/* identical to box height */
text-align: center;

color: #4C0027;
}

.rec2{width: 1293px;
height: 369px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#WearMask{width: 317px;
height: 66px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 66px;
/* identical to box height */

color: #000000;}

.rec3{width: 1293px;
height: 369px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#WashHands{width: 346px;
height: 66px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 66px;
/* identical to box height */

color: #000000;
}
#img1{height: 278px;
width: 338px;}

#img2{width: 278px;
height: 338px}

.rec4{width: 1440px;
height: 721px;

background: #E8AFCE;}

#Rec4Heading{width: 300px;
height: 66px;
left: 570px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
/* identical to box height */


color: #4C0027;}

.rec5{width: 951px;
height: 454px;

background: #FFFFFF;}

th,td{border: 8px solid #750550;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
padding:8px}

#tablecol1, #tablecol2{width: 25%;}

#tablecol3{width: 40%}

.FAQ's{height:1044px;}

#FAQ'shead{width: 146px;
height: 66px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;

text-align: center;

color: #4C0027;
}

.rec6{width: 1293px;
height: 754px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

.rec6_1{width: 1161px;
height: 198px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#rec6_1head{width: 203px;
height: 28px;
  
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;}

#rec6_1body{width: 1129px;
height: 105px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #000000;}

.rec6_2{position: static;
width: 1161px;
height: 198px;

#rec6_2head{position: static;
width: 688px;
height: 28px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;}
  
background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#rec6_2body{
position: static;
width: 1129px;
height: 63px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #000000;}

.rec6_3{position: static;
width: 1161px;
height: 198px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#rec6_3head{position: static;
width: 745px;
height: 28px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;}

#rec6_3body{position: static;
width: 1129px;
height: 42px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #000000;
}

.Youtube{height:1366.93px;}

#Youtubehead{width: 240px;
height: 66px;


font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
text-align: center;
color: #4C0027;
}

#video{width: 240px;
height: 66px;
  color: #4C0027;}
