.rec1{position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: #4C0027;}

a{position: absolute;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
  line-height: 28px;
color: #FFFFFF;}

#HomeLink{width: 65px;
height: 28px;
left: 85px;
top: 68px;
}
#TipsLink{width: 47px;
height: 28px;
left: 193px;
top: 68px;}
#SymptomsLink{width: 116px;
height: 28px;
left: 283px;
top: 68px;}
#FAQsLink{width: 56px;
height: 28px;
left: 442px;
top: 68px;}
#YoutubeLink{width: 95px;
height: 28px;
left: 541px;
top: 68px;
}

.cap1{position: absolute;
width: 1195px;
height: 118px;
left: 85px;
  top: 248px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
  line-height: 59px;}

.cap2{position: absolute;
width: 943px;
height: 234px;
left: 85px;
top: 395px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 117px;

color: #FFFFFF;}

.Tips{background: #FFFFFF;
top: 1024px;}


#TipsHeading{position: absolute;
width: 113px;
height: 66px;
left: 664px;
top: 1053px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
/* identical to box height */
text-align: center;

color: #4C0027;
}

.rec2{position: absolute;
width: 1293px;
height: 369px;
left: 74px;
top: 1192px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#WearMask{position: absolute;
width: 317px;
height: 66px;
left: 873px;
top: 160;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 66px;
/* identical to box height */

color: #000000;}

.rec3{position: absolute;
width: 1293px;
height: 369px;
left: 74px;
top: 1638px;

background: #FFFFFF;
border: 1px solid #E8AFCE;
box-sizing: border-box;
border-radius: 5px;}

#WashHands{position: absolute;
width: 346px;
height: 66px;
left: 160px;
top: 147;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 66px;
/* identical to box height */

color: #000000;
}
#img1{position: absolute;
left: 24.85%;
right: 26.5%;
top: 49.36%;
bottom: 10.7%;
height: 278px;
width: 338px;}

#img2{position: absolute;
left: 94.26%;
top: 46.87%;
bottom: 3.47%;
width: 278px;
height: 338px}

.rec4{position: absolute;
width: 1440px;
height: 721px;
left: 0px;
top: 2121px;

background: #E8AFCE;}

#Rec4Heading{position: absolute;
width: 300px;
height: 66px;
left: 570px;
top: 2175px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
/* identical to box height */


color: #4C0027;}

.rec5{position: absolute;
width: 951px;
height: 454px;
left: 244px;
top: 2282px;

background: #FFFFFF;
border: 8px solid #750550;
box-sizing: border-box;}

th,td{border: 8px solid #750550;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;}
